*{
    padding: 0%;
    margin: 0%;
}

#box{
    height: 250px;
    width: 300px;
    margin: auto;
    margin-top: 90px;
    font-size: 28px;
    text-align: center;
    /* box-sizing: border-box; */
    padding-top: 40px;
    background-color: gray;
}

button{
 padding: 5px;
 text-transform: uppercase;
 font-weight: 700;
}
form{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top: 40px;
}
input::placeholder{
    color:black;
}
