*{
    padding: 0%;
    margin: 0%;
}

#box{
    height: 250px;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    font-size: 28px;
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
    background-color: gray;
}

button{
 padding: 5px;
 text-transform: uppercase;
 font-weight: 700;
}